<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>

    <button onclick="decrementPagina()">Previous</button>
    <button onclick="incrementPagina()">Next</button>

    <script>
        function incrementPagina() {
            // Get the current URL
            var currentURL = window.location.href;
          
            // Extract the value of the 'pagina' parameter
            var regex = /page=(\d+)/;
            var match = currentURL.match(regex);

            var currentPage = match ? parseInt(match[1]) : 0;
          
            // Increment the 'pagina' parameter value
            var newPage = currentPage + 1;
          
            // Construct the new URL with the updated 'pagina' parameter
            var newURL = currentURL.replace(regex, "page=" + newPage);
          
            // Navigate to the new URL
            window.location.href = newURL;
          }

          function decrementPagina() {
            // Get the current URL
            var currentURL = window.location.href;
          
            // Extract the value of the 'pagina' parameter
            var regex = /page=(\d+)/;
            var match = currentURL.match(regex);
            var currentPage = match ? parseInt(match[1]) : 0;
          
            // Decrement the 'pagina' parameter value
            var newPage = Math.max(currentPage - 1, 0);
          
            // Construct the new URL with the updated 'pagina' parameter
            var newURL = currentURL.replace(regex, "page=" + newPage);
          
            // Navigate to the new URL
            window.location.href = newURL;
          }

    </script>

    <h1>Search Results</h1>
    <div th:utext="${results}"></div>
</body>
</html>
