<!DOCTYPE html>
<html>

<head>
    <style>
        
        .letterStatic {
            transition: 0.4s;
            transform: translateX(0);
            cursor: grab;
            color: #fff;
        }

        .letterStatic:hover {
            background: -webkit-linear-gradient(120deg, hsl(19, 90%, 52%), hsl(56, 100%, 50%));
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    </style>

    <title>Search Engine</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\SearchEngine.css">
</head>

<body>
    <h1>List Pages</h1>
    <form action="/listPages" method="get">
        <label for="page-input">Url:</label>
        <input type="text" id="page-input" name="url" required>
        <button type="submit">List</button>

        <p th:text="'Results for query: ' + ${results}"></p>
    </form>
</body>

</html>