<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Endpoints</title>
</head>

<body>
  <h1>Endpoints</h1>
  <ul>
    <li><a href="/search">/search</a></li>
    <li><a href="/indexNewUrl">/indexNewUrl</a></li>
    <li><a href="/listPages">/listPages</a></li>
    <li><a href="/IndexHackersByUsername">/IndexHackersByUsername</a></li>
    <li><a href="/admin">/admin</a></li>
    <li><a href="/IndexHackersNews">/IndexHackersNews</a></li>
    <li><a href="/socketsss">/socketsss</a></li>
  </ul>
</body>

</html>